.cardWrapper {
  border: 1px solid #000000;
  width: max-content;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #aaaaaa;

  & > div {
    padding: 10px;
  }

  .name {
    display: flex;
    justify-content: space-between;
    font-size: 20px;

    .circle {
      width: 30px;
      height: 30px;
      border-radius: 100%;

      &.green {
        background: #1a7318;
      }
      &.purple {
        background: #f41b9e;
      }
      &.orange {
        background: #fea41d;
      }
    }
  }

  .details {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    color: rgba($color: #000000, $alpha: 0.8);

    span {
      padding-left: 26px;
      font-family: Roboto;
      font-weight: 700;
      color: #000000;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    button {
      flex-basis: 30%;
      width: 100px;
      padding: 6px 0px;
      cursor: pointer;
      background: #1677ff;
      border: 0px;
      border-radius: 4px;
    }

    .delete {
      background: #f64f2a;
    }
  }
}
