.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #25252578;
  display: flex;

  .formWrapper {
    background: #ffffff;
    margin: auto;
    border-radius: 10px;
    padding: 26px 34px;
    text-transform: uppercase;
    max-height: 80vh;
    overflow: scroll;

    @media (max-width: 768px) {
        width: 80vw;
      }

    .heading {
      font-size: 40px;
      font-weight: 700;
      line-height: 47px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 32px;

      @media (max-width: 768px) {
        font-size: 28px;
      }
    }

    .form {
      display: flex;
      gap: 100px;

      @media (max-width: 768px) {
        display: block;
      }

      .left {
        flex-basis: 50%;
      }
      .right {
        flex-basis: 50%;
      }

      .formItem {
        margin-bottom: 50px;

        p {
          margin-bottom: 10px;
        }

        textarea {
          resize: none;
          padding: 5px;
        }
      }
    }

    .buttons {
      display: flex;
      gap: 16px;
      margin-left: auto;
      width: max-content;

      button {
        width: 100px;
        border-radius: 5px;
        background: #1677ff;
        padding: 6px 0px;
        border: 0px;
        cursor: pointer;
      }

      .cancel {
        background: #F64F2A;
      }
    }
  }
}
